@import "../variables";

.group {
  display: flex;
  align-items: center;
  height: $size-list;
  background-color: $color-gray;
  border-block: 1px solid $color-border;
  padding-inline: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-font;

  & svg {
    margin-right: 0.5rem;
    height: 2rem;
  }
}
