@import "../variables";

.list {
  & > .toolbar {
    display: flex;
    border-bottom: 1px solid $color-border;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-primary;
    align-items: center;
    gap: 3rem;
    padding-inline: 2rem;
    //background-color: blue;
    height: #{$size-list}rem;
    //height: 4.2rem;
    overflow: hidden;

    & > span {
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 90%;
      padding-inline: 0.5rem;
      border-radius: 0.5rem;
      //background-color: red;

      & > svg {
        margin-right: 0.5rem;
        height: 2rem;
      }

      &:hover,
      &:active {
        background-color: $color-background;
      }
    }
  }
  & > .groups {
    height: calc(100vh - #{$size-list + $size-header}rem);
    overflow-y: scroll;
  }
}
