@import "variables";

.app {
  display: grid;
  //grid-template-rows: 5rem 1fr;
  //gap: 0.1rem;

  @media (min-width: 600px) {
    grid-template-columns: 2.5fr 1fr;
  }
  .header {
    //position: fixed;
    //padding: 3rem;
    min-height: 10rem;
    width: 100%;
    background-color: gray;

    @media (min-width: 600px) {
      grid-column: span 2;
    }
  }
  .main {
    background-color: darkblue !important;
    padding: 3rem;
  }

  .details {
    background-color: darkred !important;
    visibility: hidden;

    @media (min-width: $screen-mid) {
      visibility: visible;
    }
  }
}
